## .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
.vs/

## Build outputs
*.msi
*.wixpdb
*.zip
Publish/

## WiX tools
Installer/.wix/
!Installer/.wix/extensions/**/*.dll
*.dll
*.exe

## IDE
.vs/
*.csproj.user
